[submodule "easy-ai-proxy"]
	path = easy-ai-proxy
	url = https://github.com/OneCheung/easy-ai-proxy.git
[submodule "MediaCrawler"]
	path = MediaCrawler
	url = https://github.com/OneCheung/MediaCrawler.git
